Repository Caphyon/clang-power-tools, pull requests merged in 2019-10, with the labels that each got.

#688 Fix unite tests
  ClangPowerTools/ClangPowerTools/ClangPowerTools.csproj
  ClangPowerTools/ClangPowerTools/Commands/ClangCommand.cs
  ClangPowerTools/ClangPowerTools/Helpers/JoinUtility.cs
  ClangPowerTools/ClangPowerTools/Helpers/ScriptGenerator.cs
  ClangPowerTools/ClangPowerTools/Script/ItemRelatedScriptBuilder.cs
  ClangPowerTools/ClangPowerToolsUnitTests/ClangCommandTests/ScriptTests.cs
Labels: test

#692 Install llvm
  ClangPowerTools/ClangPowerTools/ClangPowerTools.csproj
  ClangPowerTools/ClangPowerTools/Commands/ClangCommand.cs
  ClangPowerTools/ClangPowerTools/Helpers/FileSystem.cs
  ClangPowerTools/ClangPowerTools/Helpers/SettingsPathBuilder.cs
  ClangPowerTools/ClangPowerTools/MVVM/Constants/LlvmConstants.cs
  ClangPowerTools/ClangPowerTools/MVVM/Controllers/LlvmController.cs
  ClangPowerTools/ClangPowerTools/MVVM/Interfaces/IDownload.cs
  ClangPowerTools/ClangPowerTools/MVVM/Interfaces/IInstall.cs
  ClangPowerTools/ClangPowerTools/MVVM/LlvmVersions.cs
  ClangPowerTools/ClangPowerTools/MVVM/Models/CompilerSettingsModel.cs
  ClangPowerTools/ClangPowerTools/MVVM/Models/LlvmSettingsModel.cs
  ClangPowerTools/ClangPowerTools/MVVM/ViewModels/LlvmSettingsViewModel.cs
  ClangPowerTools/ClangPowerTools/MVVM/Views/LlvmSettingsView.xaml
  ClangPowerTools/ClangPowerTools/MVVM/Views/LlvmSettingsView.xaml.cs
  ClangPowerTools/ClangPowerTools/MVVM/Views/SettingsView.xaml
  ClangPowerTools/ClangPowerTools/Resources/SettingsLLVM.png
  ClangPowerTools/ClangPowerTools/Script/PowerShellWrapper.cs
Labels: new feature

#695 Release v5.3
  ClangPowerTools/ClangPowerTools/MVVM/LlvmVersions.cs
  ClangPowerTools/ClangPowerTools/MVVM/Views/EncodingErrorView.xaml
  ClangPowerTools/ClangPowerTools/MVVM/Views/InputDataView.xaml
  ClangPowerTools/ClangPowerTools/MVVM/Views/ReleaseNotesView.xaml
  ClangPowerTools/ClangPowerTools/MVVM/Views/TidyChecksView.xaml
  ClangPowerTools/ClangPowerTools/source.extension.vsixmanifest
Labels: release

#696 Set the owner of a child window
  ClangPowerTools/ClangPowerTools/MVVM/SettingsProvider.cs
  ClangPowerTools/ClangPowerTools/MVVM/Views/InputDataView.xaml
  ClangPowerTools/ClangPowerTools/MVVM/Views/InputDataView.xaml.cs
  ClangPowerTools/ClangPowerTools/MVVM/Views/SettingsView.xaml.cs
  ClangPowerTools/ClangPowerTools/MVVM/Views/TidyChecksView.xaml
  ClangPowerTools/ClangPowerTools/MVVM/Views/TidyChecksView.xaml.cs
Labels: bug
